@{
    ViewData["Title"] = "Home Page";
}

<h1>MYVC_GUI - Menu</h1>

<hr />

<a class="btn btn-info mb-5" asp-controller="ComplexQueries" asp-action="Index">Complex Queries (7-18)</a>

<h2>Location</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Locations">Location</a>
    <a class="btn btn-secondary" asp-controller="Locationphones">LocationPhone</a>
</div>

<h2>Personnel</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Personnels">Personnel</a>
    <a class="btn btn-secondary" asp-controller="Personnellocations">PersonnelLocation</a>
</div>

<h2>Club Members</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Clubmembers">ClubMember</a>
    <a class="btn btn-primary" asp-controller="Payments">Payment</a>
</div>

<h2>Family Members</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Familymembers">FamilyMember</a>
    <a class="btn btn-secondary" asp-controller="Familymemberlocations">FamilyMemberLocation</a>
    <a class="btn btn-secondary" asp-controller="Secondaryfamilymembers">SecondaryFamilyMember</a>
</div>

<h2>Team/Session</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Sessions">Session</a>
    <a class="btn btn-secondary" asp-controller="Teamsessions">TeamSession</a>
    <a class="btn btn-primary" asp-controller="Teamformations">TeamFormation</a>
    <a class="btn btn-secondary" asp-controller="Teammembers">TeamMember</a>
</div>

<h2>Log Email</h2>
<div class="display-flex mb-5">
    <a class="btn btn-primary" asp-controller="Logemails">LogEmail</a>
</div>