@model MYVCApp.Models.Locationphone

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Locationphone</h4>

    <hr />
    <h5>Location ID: @Model.LocationIdFk</h5>
    <h5>Location Phone: @Model.PhoneNumber</h5>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationIdFk" />
        <input type="hidden" asp-for="PhoneNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
