@model MYVCApp.Models.Locationphone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocationPhone</h4>
    <hr />
    <h5>Location ID: @Model.LocationIdFk</h5>
    <h5>Location Phone: @Model.PhoneNumber</h5>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>